.cache
.DS_Store
.history
.venv
.mypy_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyj
*.pyjz
*.pyjx
*.pyjx
.pytest_cache
.vs
.vscode
.idea

.install
chatbot.db
test_document.txt
test.db
node_modules
